.container {
  display: flex;
  width: 100%;
  background-color: #000000f5;
}

.navbar {
  width: 100%;
  margin-top: 50px;
  transition: background-color 0.3s;
}


.main {
  flex: 1;
  background-image: url('/loginBackground.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 0px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.formBoxLogin {
  background: rgb(64, 60, 44, 0.9);
  padding: 45px;
  border-radius: 12px 40px 40px 40px;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  text-align: center;
  border-style: solid;
  border-color: #8C876C;
  border-width: 3px;
}

.formBoxLogin:hover{
  background: rgb(64, 60, 44, 1);
}

.formBoxLoginClose {
  margin-top: -45px;
  margin-left: -45px;
  width: 44px;
  height: 44px;
  background: #8C876C;
  font-size: 1.9em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  z-index: 1;  
}


.formBoxLogin h2 {
  color: #000000;
  font-size: 30px;
  margin-top: 20px;
}

.inputbox {
  position: relative;
  margin-bottom: 30px;
  margin-top: 40px;
}

.inputbox input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  background-color: #8C876C;
  border: none;
  border-radius: 8px;
  outline: none;
  color: #ffffff;
  font-size: 18px;
}

.inputbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  transition: 0.3s;
  font-size: 18px;
  color: #ffffff;
}

.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
  top: -30px;
  font-size: 14px;
}

.rememberForgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #000000;
}

.rememberForgot a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.rememberForgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 80%;
  padding: 10px;
  background-color: #bc0606;
  border: none;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  font-weight: 600;
}

.btn:hover {
  background-color: #F20505;
}

.loginRegister {
  margin-top: 20px;
  font-size: 15px;
  color: #000000;
}

.loginRegister a {
  color: #ffffff;
  text-decoration: none;
}

.loginRegister a:hover {
  text-decoration: underline;
}
  